<section>
  <hr>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vehicle-data']">Vehicle Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vehicle']">Vehicle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vehicle-map']">Vehicle Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vehicle-signal']">Vehicle Signal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vehicle-alert']">Vehicle Historical Alert</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
  <router-outlet></router-outlet>

</section>
