<div class="row">
  <div class="col-lg-6">
    <h3 class="navbar-text">Track Your Vehicle</h3>
  </div>
</div>

<div class ="map">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text"  [(ngModel)]="track" class="form-control" placeholder="Enter VIN number">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
  </div>
</div>

<hr>

<agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-marker [latitude]="vehicledata.latitude" [longitude]="vehicledata.longitude" *ngFor="let vehicledata of vehiclesdata | mapping: track">
  </agm-marker>
</agm-map>
